html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Newsreader";
  src: url(/assets/fonts/Newsreader/Newsreader[opsz,wght].woff2) format("woff2 supports variations"), url(/assets/fonts/Newsreader/Newsreader[opsz,wght].woff2) format("woff2-variations");
  font-weight: 100 1000;
}
@font-face {
  font-family: "Newsreader Italic";
  src: url(/assets/fonts/Newsreader/Newsreader-Italic[opsz,wght].woff2) format("woff2 supports variations"), url(/assets/fonts/Newsreader/Newsreader-Italic[opsz,wght].woff2) format("woff2-variations");
  font-weight: 100 1000;
}
html {
  line-height: 1.4;
  font-family: "Newsreader", serif;
}
html {
  font-size: 20px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc( 20px + 6 * ((100vw - 320px) / 320) );
  }
}
@media screen and (min-width: 640px) {
  html {
    font-size: 26px;
  }
}

body {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 1rem;
}

header {
  margin: 0 0 1rem 0;
  text-align: left;
  font-family: "Newsreader", serif;
}
header h1 {
  margin: 0;
  padding: 0;
  font-weight: 433;
  font-variation-settings: "opsz" 25;
  line-height: 1.15;
}
header h1 {
  font-size: 36px;
}
@media screen and (min-width: 320px) {
  header h1 {
    font-size: calc( 36px + 24 * ((100vw - 320px) / 320) );
  }
}
@media screen and (min-width: 640px) {
  header h1 {
    font-size: 60px;
  }
}

.intro p {
  max-width: 480px;
}

.break {
  margin: 0.66rem 0;
  border-top: 0.125rem #000000 solid;
  max-width: 12rem;
}

.booklist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 0 -40px;
  /* grid trick, has to match box margin */
}
.booklist .book {
  font-family: "Newsreader", serif;
  flex: 0 0 auto;
  height: 325px;
  width: 225px;
  margin: 1.5rem 40px;
}
.booklist .book .book__cover {
  height: 300px;
  width: 225px;
  background-color: gray;
}
.booklist .book .book__title {
  margin-top: 0.125rem;
}
.booklist .book a {
  color: #000000;
}

.poem {
  font-weight: 400;
  font-family: monospace;
  font-size: 5rem;
  color: #222;
  margin: 5rem 0;
}
.poem .stanza {
  margin: 10rem 0;
}
.poem .stanza:first-of-type {
  margin-top: 0;
}
.poem .title {
  font-size: 6rem;
}
.poem .line {
  font-size: 3rem;
  line-height: 4rem;
}