{% extends 'base.html' %}

{% set meta = copy.index %}

{% block scripts %}
{% script 'index' %}
{% endblock scripts %}

{% block content %}
<main>
<div id="container" class="container">
    <header name="header">
        <h1>
            <div>e.e.</div>
            <div>cummings</div>
            <div>free poetry archive</div>
        </h1>
    <div class="break"></div>
    </header>
    <section name="intro" class="intro">
        <p>{{ copy.index.description }}</p>
    </section>
    <section name="book-list" class="booklist">
    {% for book in books.list %}
    <section class="book">
      <a href="/book/{{ book.slug }}/">
        <div class="book__cover">
            <img src="{% static '/assets/img/' + book.img %}" alt="{{ book.title }}">
        </div>
        <div class="book__title">{{ book.title }}</div>
      </a>
    </section>
    {% endfor %}
    </section>
</div>
</main>
{% endblock %}
