{% extends 'base.html' %}

{% set meta = index %}

{% block scripts %}
  {% script 'index' %}
{% endblock scripts %}

{% block content %}
<header name="header">
    <h1>
        <div>e.e.</div>
        <div>cummings</div>
        <div>free poetry archive</div>
    </h1>
<div class="break big"></div>
</header>
<section name="intro" class="intro">
    <p>{{ index.description }} Three books are now available.</p>
</section>
<section name="book-list" class="booklist">
  {% for book in books.list %}
  <section class="book" data-public-domain="{{ book.public_domain }}">
    <a href="/book/{{ book.slug }}/">
      <div class="book__cover">
          <img src="{% static '/assets/img/' + book.img.src %}"
               alt="{{ book.title }} >">
      </div>
      <div class="book__title">{{ book.title }}</div>
    </a>
  </section>
  {% endfor %}
</section>
{% endblock %}
