@use '../settings/colors';

.break {
  &.big {
    margin: 0.66rem 0;
    border-top: 0.125rem colors.$black solid;
    max-width: 12rem;
  }
  &.small {
    margin: 0.25rem 0;
    border-top: 0.06875rem colors.$black solid;
    max-width: 15rem;
  }
}
