@use '../settings/colors';

.break {
  &.big {
    margin: 0.66rem 0;
    border-top: 0.125rem colors.$black solid;
    max-width: 12rem;
  }
  &.small {
    margin: 0.33rem 0;
    border-top: 0.05rem colors.$black solid;
    max-width: 20rem;
  }
}
