@use '../settings/fonts';
@use '../settings/grid';
@use '../settings/colors';

html {
  @include grid.fluid-type(20px, 26px);
  line-height: 1.4;
  font-family: fonts.$font-family-serif;
}

body {
  background-color: colors.$white;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
  .container {
    padding: 1rem 1rem 0 1rem;
    @media (max-width: 480px) {
      padding: 0.75rem 0.75rem 0 0.75rem;
    }
    main {
      padding-bottom: 1rem;
    }
  }
}
