@use '../settings/grid';

footer {
  p {
    @include grid.fluid-type(14px, 18px);
    margin: 0 0 0.33rem 0;
  }
  form {
    @include grid.fluid-type(14px, 18px);
    label {
      margin-right: 5px;
    }
    input[type='radio'] {
      margin-top: -1px;
      margin-left: 4px;
      vertical-align: middle;
    }
  }
}
