@use '../settings/grid';

main {
  padding-bottom: 1.5rem;
}

footer {
  position: absolute;
  bottom: 1rem;
  height: 1.5rem;
  p {
    @include grid.fluid-type(14px, 18px);
    margin: 0 0 0.25rem 0;
  }
}
