@use '../settings/fonts';
@use '../settings/grid';

header {
  margin: 0 0 1rem 0;
  text-align: left;
  font-family: fonts.$font-family-serif;
  h1 {
    margin: 0;
    padding: 0;
    @include grid.fluid-type(34px, 72px);
    font-weight: 433;
    font-variation-settings: 'opsz' 25;
    line-height: 1.15;
  }
}

.intro {
  p {
    @include grid.fluid-type(20px, 25px);
    max-width: grid.$max-width * 0.75;
  }
}
