@use '../settings/colors';

a {
  color: colors.$black;
  text-decoration: underline;
}
a:hover {
  color: lighten(colors.$black, 20%);
  text-decoration: none;
}

a span.text {
  color: colors.$black;
  text-decoration: underline;
}
a:hover span.text {
  color: lighten(colors.$black, 20%);
  text-decoration: none;
}
