@use '../settings/fonts';
@use '../settings/grid';

nav.nav {
  margin: 0 0 1.25rem 0;
  p {
    @include grid.fluid-type(20px, 24px);
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
