@use '../settings/colors';
@use '../settings/fonts';
@use '../settings/grid';

.poem {
  font-family: fonts.$font-family-serif;
  color: #222;
  margin: 0 0 0.5rem 0;
  .stanza {
    margin: 0 0 1.25rem 0;
    padding: 0;
    display: block;
  }
  .line {
    @include grid.fluid-type(16px, 25px);
    text-indent: -1em;
    padding-left: 1em;
    display: inline-block;
  }
}
