@use '../settings/colors';
@use '../settings/fonts';
@use '../settings/grid';
@use '../settings/indent';

.poem {
  font-family: fonts.$font-family-serif;
  color: #222;
  margin: 0 0 1.25rem 0;
  .stanza {
    margin: 0 0 1.25rem 0;
    padding: 0;
    display: block;
    @include grid.fluid-type(15px, 24px);
    line-height: 1.35;
    .line {
      white-space: pre-wrap;
      text-indent: -1em;
      padding-left: 1em;
      display: inline-block;
      .indent {
        letter-spacing: 0.2rem;
        @media (max-width: 480px) {
          letter-spacing: 0.17rem;
        }
      }
    }
  }
  &.nowrap {
    .line {
      white-space: pre;
      padding-right: 1rem;
    }
  }
  &.justify {
    .stanza {
      text-align: justify;
      text-justify: inter-word;
    }
  }
  &.untitled {
    .stanza:first-of-type {
      margin-top: 1.5rem;
    }
  }
}

.poem[data-book-slug='tulips-and-chimneys'] {
  &[data-poem-slug='amores-iv'] {
    @include indent.spacing(11, 0.14rem, 0.13rem);
  }
  &[data-poem-slug='amores-vii'] {
    @include indent.spacing(14, 0.1rem, 0.85rem);
    @include indent.spacing(15, 0.135rem, 0.12rem);
  }
  &[data-poem-slug='amores-viii'] {
    @include indent.spacing(2, 0.14rem, 0.13rem);
    @include indent.spacing(8, 0.17rem, 0.16rem);
    @include indent.spacing(20, 0.175rem, 0.165rem);
  }
  &[data-poem-slug='chansons-innocentes-i'] {
    @include indent.spacing(19, 0.35rem, 0.33rem);
    @include indent.spacing(21, 0.35rem, 0.33rem);
  }
  &[data-poem-slug='chansons-innocentes-ii'] {
    @include indent.spacing(14, 0.35rem, 0.33rem);
  }
  &[data-poem-slug='chansons-innocentes-iii'] {
    @include indent.spacing(2, 0.18rem, 0.16rem);
    @include indent.spacing(3, 0.18rem, 0.16rem);
    @include indent.spacing(6, 0.15rem, 0.1333rem);
  }
  &[data-poem-slug='impressions-iv'] {
    @include indent.spacing(5, 0.11rem, 0.095rem);
  }
  &[data-poem-slug='impressions-v'] {
    @include indent.spacing(8, 0.145rem, 0.125rem);
  }
  &[data-poem-slug='orientale-i'] {
    @include indent.spacing(6, 0.18rem, 0.17rem);
    @include indent.spacing(13, 0.15rem, 0.14rem);
    @include indent.spacing(20, 0.17rem, 0.16rem);
    @include indent.spacing(27, 0.15rem, 0.14rem);
  }
  &[data-poem-slug='orientale-vi'] {
    @include indent.spacing(58, 0.1rem, 0.09rem);
  }
  &[data-poem-slug='portraits-viii'] {
    @include indent.spacing(5, 0.18rem, 0.165rem);
    @include indent.spacing(7, 0.18rem, 0.165rem);
    @include indent.spacing(9, 0.22rem, 0.2rem);
    @include indent.spacing(14, 0.15rem, 0.145rem);
  }
  &[data-poem-slug='portraits-ix'] {
    @include indent.spacing(27, 0.15rem, 0.14rem);
  }
  &[data-poem-slug='portraits-x'] {
    @include indent.spacing(23, 0.15rem, 0.14rem);
  }
  &[data-poem-slug='sonnets-unrealities-ii'] {
    @include indent.spacing(16, 0.225rem, 0.2125rem);
  }
  &[data-poem-slug='sonnets-unrealities-iv'] {
    @include indent.spacing(7, 0.18rem, 0.17rem);
  }
  &[data-poem-slug='sonnets-unrealities-v'] {
    @include indent.spacing(9, 0.22rem, 0.21rem);
  }
  &[data-poem-slug='sonnets-actualities-ii'] {
    @include indent.spacing(14, 0.18rem, 0.17rem);
  }
  &[data-poem-slug='sonnets-actualities-iii'] {
    @include indent.spacing(9, 0.15rem, 0.14rem);
  }
  &[data-poem-slug='sonnets-actualities-iv'] {
    @include indent.spacing(13, 0.15rem, 0.14rem);
  }
}

.poem[data-book-slug='and'] {
  &[data-poem-slug='sonnets-actualities-xxiv'] {
    @include indent.spacing(2, 0.075rem, 0.7rem);
  }
  &[data-poem-slug='post-impressions-v'] {
    @include indent.spacing(9, 0.21rem, 0.2rem);
  }
}

.poem[data-book-slug='xli-poems'] {
  &[data-poem-slug='sonnets-vii'] {
    @include indent.spacing(1, 0.14rem, 0.13rem);
    @include indent.spacing(4, 0.16rem, 0.15rem);
    @include indent.spacing(14, 0.17rem, 0.16rem);
  }
  &[data-poem-slug='sonnets-ix'] {
    @include indent.spacing(8, 0.15rem, 0.14rem);
    @include indent.spacing(10, 0.15rem, 0.14rem);
    @include indent.spacing(17, 0.17rem, 0.16rem);
  }
  &[data-poem-slug='sonnets-xi'] {
    @include indent.spacing(2, 0.175rem, 0.165rem);
    @include indent.spacing(5, 0.175rem, 0.165rem);
    @include indent.spacing(16, 0.2rem, 0.19rem);
  }
  &[data-poem-slug='sonnets-xii'] {
    @include indent.spacing(9, 0.16rem, 0.15rem);
  }
  &[data-poem-slug='sonnets-xiv'] {
    @include indent.spacing(14, 0.16rem, 0.15rem);
  }
  &[data-poem-slug='sonnets-xv'] {
    @include indent.spacing(14, 0.16rem, 0.15rem);
  }
  &[data-poem-slug='sonnets-xvi'] {
    @include indent.spacing(5, 0.12rem, 0.11rem);
    @include indent.spacing(6, 0.01rem, 0.01rem);
    @include indent.spacing(9, 0.14rem, 0.13rem);
  }
}
