@use '../settings/colors';
@use '../settings/fonts';
@use '../settings/grid';

.poem {
  font-family: fonts.$font-family-serif;
  color: #222;
  margin: 0 0 1.25rem 0;
  .stanza {
    margin: 0 0 1.25rem 0;
    padding: 0;
    display: block;
    @include grid.fluid-type(15px, 24px);
    line-height: 1.35;
    .line {
      white-space: pre-wrap;
      text-indent: -1em;
      padding-left: 1em;
      display: inline-block;
      .indent {
        letter-spacing: 0.2rem;
        @media (max-width: 480px) {
          letter-spacing: 0.17rem;
        }
      }
    }
  }
  &.nowrap {
    .line {
      white-space: pre;
      padding-right: 1rem;
    }
  }
  &.justify {
    .stanza {
      text-align: justify;
      text-justify: inter-word;
    }
  }
  &.untitled {
    .stanza:first-of-type {
      margin-top: 1.5rem;
    }
  }
}

.poem[data-book-slug='tulips-and-chimneys'] {
  &[data-poem-slug='amores-iv'] {
    [data-line-number='11'] .indent {
      letter-spacing: 0.14rem;
      @media (max-width: 480px) {
        letter-spacing: 0.13rem;
      }
    }
  }
  &[data-poem-slug='portraits-viii'] {
    [data-line-number='5'] .indent {
      letter-spacing: 0.175rem;
      @media (max-width: 480px) {
        letter-spacing: 0.145rem;
      }
    }
    [data-line-number='7'] .indent {
      letter-spacing: 0.18rem;
      @media (max-width: 480px) {
        letter-spacing: 0.16rem;
      }
    }
    [data-line-number='9'] .indent {
      letter-spacing: 0.22rem;
      @media (max-width: 480px) {
        letter-spacing: 0.185rem;
      }
    }
  }
}
