@use '../settings/colors';
@use '../settings/fonts';
@use '../settings/grid';

.toc {
  margin: 1rem 0;
  h2 {
    font-family: fonts.$font-family-serif;
    margin: 0 0 0.5rem 0;
    padding: 0;
    @include grid.fluid-type(26px, 32px);
    font-weight: 433;
    font-variation-settings: 'opsz' 25;
    line-height: 1.15;
    display: block;
  }
  ul,
  ol {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0.5rem;
    list-style-type: none;
    padding-left: 0.75rem;
    &.level1 {
      padding-left: 0;
    }
    li {
      padding-bottom: 0.125rem;
      &[data-public-domain='false'] {
        color: colors.$gray;
        opacity: 0.5;
      }
    }
  }
}
