@font-face {
  font-family: 'Newsreader';
  src: static-url('./assets/fonts/Newsreader/Newsreader[opsz,wght].woff2')
      format('woff2 supports variations'),
    static-url('./assets/fonts/Newsreader/Newsreader[opsz,wght].woff2')
      format('woff2-variations');
  font-weight: 100 1000;
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader Italic';
  src: static-url(
        './assets/fonts/Newsreader/Newsreader-Italic[opsz,wght].woff2'
      )
      format('woff2 supports variations'),
    static-url('./assets/fonts/Newsreader/Newsreader-Italic[opsz,wght].woff2')
      format('woff2-variations');
  font-weight: 100 1000;
  font-display: swap;
}

$font-family-serif: 'Newsreader', serif;
$font-family-italic: 'Newsreader Italic', serif;

.small-caps {
  font-variant: small-caps;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}
