@font-face {
  font-family: 'Newsreader';
  src: static-url(
      'assets/fonts/Newsreader/Newsreader-VariableFont_opsz,wght.ttf'
    )
    format('truetype');
}

@font-face {
  font-family: 'Newsreader Italic';
  src: static-url(
      'assets/fonts/Newsreader/Newsreader-Italic-VariableFont_opsz,wght.ttf'
    )
    format('truetype');
}

$font-family-serif: 'Newsreader', serif;
$font-family-italic: 'Newsreader Italic', serif;
