<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock lang %}">
<head>
  {% block meta %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{% block title %}{{ meta.title }}{% endblock title %}</title>
  <meta name="description" content="{% block description %}{{ meta.description|striptags(true) }}{% endblock description %}">

  {% block canonical_url %}<link rel="canonical" href="{{ page.absoluteUrl }}">{% endblock canonical_url %}

  {% block opengraph %}
  <meta property="og:title" content="{{ meta.title }}">
  <meta property="og:description" content="{{ meta.description|striptags(true) }}">
  <meta property="og:url" content="{{ page.absoluteUrl }}">
  <meta property="og:image" content="{% staticabsolute 'assets/img/social.png' %}">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="cummings.ee">
  <meta property="og:locale" content="en_US">
  {% endblock opengraph %}

  {% block twitter %}
  <meta property="twitter:title" content="{{ meta.title }}">
  <meta property="twitter:description" content="{{ meta.description|striptags(true) }}">
  <meta property="twitter:url" content="{{ page.absoluteUrl }}">
  <meta property="twitter:image" content="{% staticabsolute 'assets/img/social.png' %}">
  <meta property="twitter:card" content="summary_large_image">
  {% endblock twitter %}

  {% block ldjson %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "headline": "{{ meta.title }}",
    "image": {
      "@type": "ImageObject",
      "contentUrl": "{% staticabsolute 'assets/img/social.png' %}",
      "url": "{% staticabsolute 'assets/img/social.png' %}",
      "representativeOfPage": true
    },
    "mainEntityOfPage": "{{ page.absoluteUrl }}",
    "description": "{{ meta.description|striptags(true) }}",
    "publisher": {
      "@type": "Organization",
      "name": "cummings.ee",
      "url": "{{ DOMAIN }}"
    }
  }
  </script>
  {% endblock ldjson %}
  {% endblock meta %}

  {% block styles %}
  <link rel="stylesheet" href="{% static 'styles/app.scss' %}">
  {% endblock styles %}

  {% block extra_styles %}
  {% endblock extra_styles %}

  {% block extra_scripts %}
  {% endblock extra_scripts %}
</head>
<body>

  {% block container %}
  <div class="container">
    <main>
    {% block content %}
    {% endblock content %}
    </main>
    {% block footer -%}
    <footer class="footer">
      <div class="break footer"></div>
      <p>
        {{ footer.copy }}
      </p>
    </footer>
    {% endblock footer -%}
  </div>
  {% endblock container %}
</body>
</html>
