{% extends 'base.html' %}

{% set meta = book %}

{% block content %}
<nav class="nav">
  <p><a href="/">e.e. cummings free poetry archive</a></p>
  <div class="break small"></div>
</nav>
<header class="book">
  <h1>{{ book.title }}</h1>
</header>
<section name="intro" class="intro">
  <p>
    {{ book.description }}
    {% if book.public_domain == 'false' %}Until then, it remains protected by copyright and cannot be republished here.{% endif %}
  </p>
</section>
<section name="toc" class="toc">
  <ul class="level1">
  {% for level1 in toc[book.slug] %}
    <li>{{ level1.name }}</li>
    <ul class="level2">
    {% for level2 in level1.children %}
      <li>{{ level2.name }}</li>
      <ul class="level3">
        {% for level3 in level2.children %}
          <li>{{ level3.name }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
    </ul>
  {% endfor %}
  </ul>
</section>
{% endblock content %}
