---
title: {{ poem.title }}
slug: {{ poem.slug }}
html_url: {{ poem.html_url }}
json_url: {{ poem.json_url }}
markdown_url: {{ poem.markdown_url }}
txt_url: {{ poem.txt_url }}
yaml_url: {{ poem.yaml_url }}
---
{{ poem.text }}
