{% extends 'base.html' %}

{% set meta = book %}

{% block extra_scripts %}
  {% script 'poem' %}
{% endblock extra_scripts %}

{% block content %}
<nav class="nav">
  <p><a href="/">e.e. cummings free poetry archive</a></p>
  <div class="break small"></div>
</nav>
<article>
  <header class="poem--title">
    <h1>{{ poem.title }}</h1>
  </header>
  <section id="poem" class="poem{% if poem.nowrap %} nowrap{% endif %}">
    {% for stanza in poem.text|parsePoem -%}
    <p class="stanza">
    {% for line in stanza -%}
      <span class="line">{{ line|parseText }}</span><br/>
    {% endfor %}
    </p>
    {% endfor %}
  </section>
</article>
{% endblock content %}

{% block footer -%}
<footer name="footer" class="footer" role="contentinfo">
  <div class="break footer"></div>
  <p>The poem was first published in “<a href="/book/{{ book.slug }}/">{{ book.title }}</a>.”</p>
  <p>It is also available in <a href="{{ poem.json_url }}">json</a> and <a href="{{ poem.txt_url }}">text</a> formats.</p>
  {% if poem.previous_poem.slug or poem.next_poem.slug %}
    <p>
        {% if poem.previous_poem.slug %}
          The previous poem is “<a href="/book/{{ book.slug }}/poem/{{ poem.previous_poem.slug }}/">{{ poem.previous_poem.title }}</a>.”
        {% endif %}
        {% if poem.next_poem.slug %}
          The next poem is “<a href="/book/{{ book.slug }}/poem/{{ poem.next_poem.slug }}/">{{ poem.next_poem.title }}</a>.”
        {% endif %}
    </p>
  {% endif %}
  <p>
    <form id="nowrap-form">
        <label for="wrap">Allow line wrapping:</label>
        <input type="radio" name="wrap" value="yes" {% if not poem.nowrap %}CHECKED{% endif %}> Yes
        <input type="radio" name="wrap" value="no" {% if poem.nowrap %}CHECKED{% endif %}> No
    </form>
  </p>
  <p>
  {{ footer.copy }}
  </p>
</footer>
{% endblock footer -%}
