{% extends 'base.html' %}

{% set meta = book %}

{% block content %}
<nav class="nav">
  <p><a href="/">e.e. cummings free poetry archive</a></p>
  <div class="break small"></div>
</nav>
<header class="poem--title">
  <h1>{{ poem.title }}</h1>
</header>
<section class="poem">
  {% for stanza in poem.text|parsePoem %}
  <section class="stanza">
    {% for line in stanza %}
      <div class="{{ line.class }}">{{ line.text }}<br/></div>
    {% endfor %}
  </section>
  {% endfor %}
</section>
{% endblock content %}

{% block footer -%}
<footer name="footer" class="footer" role="contentinfo">
  <div class="break footer"></div>
  <p>The poem was first published in “<a href="/book/{{ book.slug }}/">{{ book.title }}</a>.” It is also avaiable in <a href="https://github.com/ee-cummings-archive/cummings.ee/tree/master/_data/poems/{{ book.slug }}/{{ poem.slug }}.yaml">YAML</a> format.
  <p>
    {{ footer.copy }}
  </p>
</footer>
{% endblock footer -%}
