slug: {{ slug }}
title: {{ poem.title }}
html_url: {{ poem.html_url }}
json_url: {{ poem.json_url }}
markdown_url: {{ poem.markdown_url }}
txt_url: {{ poem.txt_url }}
yaml_url: {{ poem.yaml_url }}
text: {{ poem.text }}
