name: Test
on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Test 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Install
        run: npm ci

      - name: Build
        run: make build

      - uses: actions/upload-artifact@v3
        with:
          name: release-candidate
          path:  './docs'
